# Development
PORT=4000

# Specific Entity 1 Model Info
ENTITY_1_API_KEY={ENTITY_1_API_KEY}

# Specific Entity 2 Model Info
ENTITY_2_MODEL_NAME={ENTITY_2_MODEL_NAME}
ENTITY_2_API_KEY_1={ENTITY_2_API_KEY_1}
ENTITY_2_API_KEY_2={ENTITY_2_API_KEY_2}
