/**
* Home Page
*/
.home-page {
  position: relative;
  padding-top: 5rem;
  color: #000000;
  &.dark {
    background-color: #252526;
    .navigation-bar {
      &.bg-color-transparent {
        .logo {
          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}
