**/deploy
!deploy/package.json
!deploy/yarn.lock
!deploy/Dockerfile
!deploy/docker-compose.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
