#root {
  scroll-behavior: smooth;
  .ellipsis {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds ellipsis at the end of the text */
  }

  .italics {
    font-style: italic;
  }
  .bold {
    font-weight: 600;
  }

  .bg-image-character {
    position: fixed;
    z-index: -1;
    opacity: 0.3;
    width: 30%;
    left: auto;
    right: 0;
    top: 45vh;
    bottom: auto;
  }
}

img {
  pointer-events: none;
}

.direction-rtl {
  direction: rtl;
}
