// MAIN
@import "../assets/scss/grid.scss";

#root {
  scroll-behavior: smooth;
  .ellipsis {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Adds ellipsis at the end of the text */
  }

  .bg-image-character {
    position: fixed;
    z-index: -1;
    opacity: 0.3;
    width: 30%;
    left: auto;
    right: 0;
    top: 45vh;
    bottom: auto;
  }
}

.section {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  overflow-x: hidden;
}

.hero-container {
  overflow: hidden;
  .hero-image-mobile {
    position: absolute;
    left: auto;
    right: -6rem;
    opacity: 0.15;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
  }
}

img {
  pointer-events: none;
  margin: auto;
}

.direction-rtl {
  direction: rtl;
}

hr {
  margin: 2rem 0;
}

.text-underline {
  text-decoration: underline solid #ad932d;
}
a:not(.MuiButtonBase-root) {
  color: #0080ab;
  font-weight: 400;
  text-decoration: underline solid #ad932d !important;
  &:visited {
    color: #0080ab;
  }
}
