/**
* Unauthorized Page
*/
.unauthorized-page {
  .unauthorized-image {
    width: 25%;
  }
  .unauthorized-card-wrapper {
    border-radius: 5px;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 820px) {
  .unauthorized-page {
    .unauthorized-image {
      width: 50%;
    }
  }
}
