.story-creator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .profile-info-form {
    position: relative;
    margin: 0;
    .form-item {
      flex-basis: 20%;
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .story-creator-form {
    .profile-info-form {
      .form-item {
        flex-basis: 40%;
      }
    }
  }
}
