# Development
DEV_PORT=4001
PROD_PORT=8080
NODE_ENV=development

## API Keys
# Specific Entity 1 Model Info
ENTITY_1_MODEL_NAME={ENTITY_1_MODEL_NAME}
ENTITY_1_API_KEY={ENTITY_1_API_KEY}

# Specific Entity 2 Model Info
ENTITY_2_MODEL_NAME={ENTITY_2_MODEL_NAME}
ENTITY_2_API_KEY_1={ENTITY_2_API_KEY_1}
ENTITY_2_API_KEY_2={ENTITY_2_API_KEY_2}


# CouchDB Server
COUCHDB_USER=admin
COUCHDB_PASSWORD=root
HTTPD_MAX_HTTP_REQUEST_SIZE=4294967296