# Development
DEV_PORT=4001
PROD_PORT=8001
NODE_ENV=development
PROD_PUBLIC_URL=https://googleapi.com

## API Keys
# Specific Entity 1 Model Info
ENTITY_1_MODEL_NAME={ENTITY_1_MODEL_NAME}
ENTITY_1_API_KEY={ENTITY_1_API_KEY}

# Specific Entity 2 Model Info
ENTITY_2_MODEL_NAME={ENTITY_2_MODEL_NAME}
ENTITY_2_API_KEY_1={ENTITY_2_API_KEY_1}
ENTITY_2_API_KEY_2={ENTITY_2_API_KEY_2}

# Database
MONGODB_URI_DEV={MONGODB_URI_DEV}
MONGODB_URI_PROD={MONGODB_URI_PROD}

# Hosting
HOST_AWS_REGION={AWS_REGION}
HOST_AWS_ACCESS_KEY={AWS_ACCESS_KEY}
HOST_AWS_SECRET_KEY={AWS_SECRET_KEY}
HOST_AWS_S3_BUCKET_NAME={AWS_S3_BUCKET_NAME}