# Development
CI=true
PORT=4000
FRONTEND_PORT=4000
BACKEND_PORT=4001
HTTPS=false
BROWSER=none
FAST_REFRESH=true # Enable React Refresh
ESLINT_NO_DEV_ERRORS=true 
SKIP_PREFLIGHT_CHECK=false

# Specific Entity 1 Model Info
ENTITY_1_API_KEY={ENTITY_1_API_KEY}

# Specific Entity 2 Model Info
ENTITY_2_MODEL_NAME={ENTITY_2_MODEL_NAME}
ENTITY_2_API_KEY_1={ENTITY_2_API_KEY_1}
ENTITY_2_API_KEY_2={ENTITY_2_API_KEY_2}



# CouchDB Server
COUCHDB_USER=admin
COUCHDB_PASSWORD=root
HTTPD_MAX_HTTP_REQUEST_SIZE=4294967296