/**
* Features Page
*/

.features-page {
  position: relative;
  padding-top: 5rem;
}

.benefits {
  .benefits-list {
    ul {
      list-style: disc;
      padding-left: 40px;
    }
    li {
      margin-bottom: 10px;
    }
  }
}

.guarantee {
  padding: 20px;
  border-radius: var(--r-lg);
  text-align: center;
}

/* iPhone 5/5S/5C/SE (1st generation) */
@media (max-width: 320px), (max-height: 568px) {
  #hero {
    .hero-container {
      padding-top: 0;
      margin-top: -2rem;
      h1 {
        font-size: 2rem;
        span {
          font-size: 2rem;
        }
      }
    }
  }
}
