.navigation-bar {
  position: fixed;
  margin: auto;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;

  &.rotating {
    .navigation-bar-container {
      .navigation-bar-actions {
        .sync-icon {
          animation: rotating 2s linear infinite;
        }
      }
    }
  }
  // Revert content color according to background color
  &.bg-color-white {
    background-color: #fff;
    color: #000;
    fill: #000;
    button,
    svg {
      color: #000;
      fill: #000;
    }
    .logo {
      svg {
        fill: #000;
      }
    }
  }
  // Revert content color according to background color
  &.bg-color-black {
    background-color: #000;
    color: #fff;
    fill: #fff;
    button,
    svg {
      color: #fff;
      fill: #fff;
    }
    .logo {
      svg {
        fill: #fff;
      }
    }
  }
  &.bg-color-transparent {
    color: #fff;
    fill: #fff;
    button,
    svg {
      color: #fff;
      fill: #fff;
    }
  }
  .transparent {
    svg,
    svg * {
      fill: #101724;
    }
  }
  .navigation-bar-container {
    border-bottom: 1px solid #1976d2;
    background-color: #fff;
    padding: 0.5rem;
    max-width: 95%;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .navigation-bar-logo {
      cursor: pointer;
      .logo {
        align-items: center;
        display: flex;
        width: 50px;
        height: 50px;
      }
    }
    .navigation-bar-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      .network-status {
        .network-status-online {
          color: #008000;
          fill: #008000;
        }
        .network-status-offline {
          color: #f50057;
          fill: #f50057;
        }
      }
    }
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
